@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");

body {
    font-family: "Cabin", sans-serif;
    background-color: #f4f0f0;
}

trix-editor {
    min-height: 400px;
}

.bg-primary .navbar-brand {
    color: white;
    font-size: 1.2rem;
    font-family: "Fredoka One", cursive;
    color: #fff !important;
    font-size: 2.4rem;
    text-decoration: none;
    &:hover {
        color: white;
    }
}

.icono {
    width: 16px;
}

.barra {
    background-color: #ed4646 !important;
}

.fecha {
    color: #ed4646 !important;
}

.receta-meta p {
    font-size: 12px;
    font-weight: bold;
}
.navbar-light {
    .navbar-nav {
        .nav-link {
            color: #fff;
            font-size: 1.4rem;
            &:focus,
            &:hover {
                color: #fff;
            }
        }
    }
}

.titulo-categoria {
    font-family: "Cabin", sans-serif;
    color: #333;
    font-size: 1.8rem;
    border-bottom: 3px solid #ed4646 !important;
    display: inline-block;
    padding-bottom: 0.5rem;
    padding-right: 2rem;
}

.btn-receta,
.btn-receta:hover {
    background-color: #ed4646 !important;
    border: none;
}

.owl-carousel .owl-stage {
    display: flex;
}
.card {
    display: flex;
    flex: 1 0 auto;
    height: 100%;
}
.card-body {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.categorias-bg {
    background-color: #fff;
    .nav-link {
        color: #222 !important;
        display: inline-block;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        overflow: hidden;
        position: relative;
        text-decoration: none;
        font-size: 0.9rem !important;
        text-transform: uppercase;
        // font-weight: bold;
        &:before,
        &:after {
            content: "";
            position: absolute;
            transition: transform 0.5s ease;
        }
        &:before {
            left: 0;
            bottom: 0;
            width: 100%;
            height: 4px;
            background: #ed4646;
            transform: translateX(-100%);
        }
        &:hover:before {
            transform: translateX(0);
        }
    }
}

.hero-categorias {
    background-image: linear-gradient(
            to bottom,
            rgba(70, 70, 70, 0.4),
            rgba(53, 53, 53, 0.571)
        ),
        url("../../public/images/bgimagen.jpg");
    height: 45rem;
    background-size: cover;
    background-position: top center;
    .texto-buscar {
        p {
            font-size: 1.4rem;
            color: #fff;
        }
    }
}

#view_receta:hover {
    background-color: $green;
    transition-delay: 150ms;
}

#edit_receta:hover {
    background-color: $yellow;
    color: black;
    transition-delay: 150ms;
}

#btn_create {
    margin-left: 300px;
}

.imagen-error {
    height: 400px;
    width: 400px;
}

i {
    color: #f45b69;
}

#navbarDropdown {
    font-size: 1rem;
}

.footer-link {
    text-decoration: none;
}

#imagen1 {
    background-image: linear-gradient(
            to bottom,
            rgba(70, 70, 70, 0.4),
            rgba(53, 53, 53, 0.571)
        ),
        url("../../public/images/bgimagen2.jpg");
    
    height: 30rem;
    background-size: cover;
    background-position: top center;    
}

